<h1>Questions for Test: <%= @test.title %></h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @questions %>
  </tbody>
</table>

<%= link_to 'Back to tests', tests_path %>
