<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @users %>
  </tbody>
</table>

<%= link_to 'New User', new_user_path %>
<%= link_to 'Back to tests', tests_path %>
