<tr>
  <td> <%= link_to answer.body, answer_path(answer) %></td>
  <td> <%= link_to 'Edit', edit_answer_path(answer) %>
    <%= form_with model: answer, method: :delete do %>
      <%= submit_tag 'Delete', data: { turbo_confirm: 'Are you sure?' } %>
    <% end %>
  </td>
<tr>
