<h1>Answers for Question: <%= @question.body %></h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>?</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @answers %>
  </tbody>
</table>

<%= link_to 'New Answer', new_admin_question_answer_path(@question) %>
<%= link_to 'Back to Questions', admin_test_questions_path(@question.test) %>
