<h1><%= @answer.body %></h1>

<p>Correct: <%= @answer.correct %></p>

<%= link_to 'Edit', edit_admin_answer_path(@answer) %>
<%= link_to 'Back to Answers', admin_question_answers_path(@answer.question) %>
