<tr>
  <td><%= link_to question.body, admin_question_answers_path(question) %></td>
  <td class="actions">
    <%= link_to 'Edit', edit_admin_question_path(question) %>
    <%= link_to 'Delete', admin_question_path(question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </td>
</tr>
