<tr>
  <td><%= link_to category.title, category_path(category) %></td>
  <td class="actions">
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Delete', category_path(category), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </td>
<tr>
