<tr>
  <td> <%= link_to test.title, test_path(test) %></td>
  <td> <%= test_level(test) %></td>
  <td><%= test.questions.count %></td>
  <td class="actions">
    <%= button_to 'Start', start_test_path(test), data: { turbo_method: :post } %>
  </td>
<tr>
