<h1><%= t(".header") %></h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions total</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>

