<h1>Tests</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%= render @tests %>
  </tbody>
</table>

<%= link_to 'New Test', new_test_path %>
